{% extends 'basefront.html.twig' %}
{% block title %}
<title>ShoppingCart</title>
{% endblock %}
{% block body %}
    <h1>ShoppingCart</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Price</th>
                <td>{{ shopping_cart.price }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ shopping_cart.quantity }}</td>
            </tr>
        </tbody>
    </table>


    {{ include('stripe/index.html.twig') }}


{% endblock %}
