<form method="post" action="{{ path('app_planningcircuit_delete', {'id': planningcircuit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planningcircuit.id) }}">
    <button class="btn">Delete</button>
</form>
